<div class="form-group">
<form [formGroup] = "staffForm">
    <div class="form-element">
        <label for='staffName'>Staff Name:</label>
        <input type="text" formControlName = "staffName">
    </div>
    <div class="form-element">
        <label for='jobTitle'>Job Title:</label>
        <input type="text" formControlName = "jobTitle">
    </div>
    <div class="form-element">
        <a href="javascript:;" (click) = 'staffformaction()' class="btn">{{buttonLabel}}</a>
    </div>
    <div class="error-msg" *ngIf ="errorMessage">error message goes here</div>
</form>
</div>

<div class="data-list">
    <div class="list-item" *ngFor="let staff of staffData">
        <span class="first-name"><span class="label">Name:</span> {{staff.name}} </span>
        <span class="job-title"><span class="label">Job Title:</span> {{staff.jobtitle}} </span>
        <a href="javascript:;" (click)="editStaff( staff.id )" class="btn btn-grey">Edit</a> 
        <a href="javascript:;" (click)="deleteStaff( staff.id )" class="btn btn-red">Delete</a>
    </div>
</div>
