/* You can add global styles to this file, and also import other style files */
$primary: #222;
$secondary: #666;

body {
	color: $primary;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
}

ul {
	padding: 0;

	li {
		list-style: none;
	}
}